#mainBoard .row {
    padding: 10px;
}

#mainBoard img {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;

    width: 100%;

/* rotate cards because woof */
  /*  transform: rotate(90deg); */
  /* or not */
}

.col-sm-1 img {
    width: 300% !important;
}

.glowRed {
    box-shadow: 0px 0px 15px red;
}

.glowGreen {
    box-shadow: 0px 0px 15px green;
}
