#mainBoard .row {
    padding: 50px;
}

#mainBoard img {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;

    width: 150%;

/* rotate cards because woof */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.col-sm-1 img {
    width: 300% !important;
}

.glowRed {
    box-shadow: 0px 0px 15px red;
}

.glowGreen {
    box-shadow: 0px 0px 15px green;
}
